<div class="container">
    <div class="row">
      <div class="col s6">
        <h4 class="left teal-text text-lighten-1">Tipo de Trabalho</h4>
      </div>
      <div class="col s6">
        <a id="btnAdd" data-target='modalTipoTrabalho' ng-click="limparCamposModal()" modal class="modal-trigger btn right teal lighten-1" style="margin-top: 4%;">
          <i class="material-icons">add</i>
        </a>
      </div>
	</div>
    <table class="striped">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
    
        <tbody>
          <tr ng-repeat="tipoTrabalho in tiposTrabalhosList">
            <td>{{tipoTrabalho.tipoTrabalho}}</td>
            <td>
				<a ng-click="editarLinhaTipoTrabalho(tipoTrabalho)" data-target="modalTipoTrabalho" modal class="modal-trigger btn-floating sem-float red">
					<i class="material-icons">mode_edit</i>
				</a>
			</td>
            <td>Excluir</td>
          </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->

	<div id="modalTipoTrabalho" class="modal">
		<div class="modal-content">
			<h4 class="teal-text text-lighten-1">Trator</h4>
			<form name="formTipoTrabalho" novalidate>
				<div class="row">
					<div class="col s12 m6 l6">
						<label for="tipoTrabalho">Título</label>
						<input id="tipoTrabalho" type="text" required ng-model = "tipoTrabalhoObj.tipo_trabalho">
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<a class=" modal-action modal-close waves-effect waves-green btn teal"  ng-click="cadastrarEditarTipoTrabalho()">Salvar</a>
			</div>
		</div>
	</div>
      